:root {
    --color-background: #222222;
    --color-background-shadow: #4a4a4a;
    --color-background-black: #1a1a1a;
    --color-text: #efefef;
    --color-icon: #E1E1E1;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark) var(--color-background-shadow);
}
.content, .legal-footer, .buttons-container, .popover-view .cw-popover-content, .atv4.settings, .notice-view, .atv4.sc-pane.sc-panel::before, .prefs-theme, .dr-root, .recoverable-document-item.odd, .dr-restore-docs-workspace-view .footer, .atv4.mail .dock .toolbar-separator-right, .message-list .message-list-scroll-thumb, .message-list .message-list-footer, .messages .message-list .column-header, .mail .messages .search-pane-view, .message-list, .message-list .message, .view.message .header-view-text-button.right, .apple-theme-v4 .vip-welcome-overlay, .preferences-panel .preferences .sc-container-view.sc-well-view, .preferences .pref-bottom-wrapper, .atv4.dropdown.button, .atv4.contacts.sc1619.sc-view.sc-collection-view.sc-list-view, .atv4.contacts.sc1619.sc-view.detail-container {
    background-color: var(--color-background) !important;
}
.atv4.mail, .button-secondary, .messages .message-list .column-header {
    background: var(--color-background) !important;
}
.form-textbox, .form-dropdown, .atv4.cw-menu .sc-menu-item.focus .menu-item, .sc-text-field-view, .message-list-search.search-view, .contact-details .contact-details-body .notes-field-view {
    background: var(--color-background-shadow) !important;
}
.form-textbox::placeholder, .message-list .message .subject, .message-list .message .sender, .header-view-subject, .view.message .header-view-subject, .view.message .recipient-names, .mail .folder-list.sc-source-list .sc-list-item-view label, .atv4.cw-menu .sc-menu-item .value, .preferences-panel .preferences .sc-checkbox-view .label, .atv4.dropdown.button .sc-button-label, .atv4.sc-text-field-view input, .list-unsubscribe-preview-container .list-unsubscribe-preview .list-unsubscribe-preview-spacer .list-unsubscribe-preview-text, .app-switcher-item-view .app-switcher-item-content .icon-name, .atv4.settings .summary-general .name, .atv4.settings .summary-general .title, .summary .titlebar .title, .summary .family-member .title, .dr-root-header > .info > .title, .dr-root-header > .info > .description, .recoverable-document-item .details > .primary .title, .dr-root-header > .sort-action-menu > .title, .cw-menu-arrow-popover-view .cw-popover-content .cw-menu-list-view .menu-item-view .title, .dr-root > .disclaimer .label, .recoverable-document-item .details > .primary > .size, .DAV-recovery .DAV-list-item-view .DAV-title, .DAV-status-view > .container .message, .ck-bookmark-recovery .ck-bookmark-list-item-view .title, .greeting-label, .scalable-app-switcher-item-view > .title-label, .cw-alert .alert-text-container .message, .cw-alert .alert-text-container .description, .widget-container .si-container-title, .widget-container .si-remember-password label[for="remember-me"], .widget-container input[type="password"], .widget-container input[type="tel"], .widget-container input[type="text"], .legal-footer-content > span .copyright, .legal-footer-content > span a, .widget .flow-title h1, .widget .intro, .form-choice:checked ~ .form-choice-selector-label .form-label, .form-choice:checked ~ .form-label, .form-dropdown, .widget-container .si-button .icon_sign_in, .contacts .sources .focus .sc-collection-item.sel .source-label, .contacts .sources .source-label, .contacts.sticky-header-scroll-view.contact-list .headered-list-header .header-title, .contacts.sticky-header-scroll-view.contact-list .headered-list-view .contact-list-item label, .view.message .disclosure-header-names, .atv4.sc-label-view, .contact-details .contact-details-body .detail-row a, .atv4.sc-label-view, .contact-details .contact-details-body .notes-field-view div.notes-text-field .field, .contact-details .contact-details-body .detail-field.sc-label-view {
    color: var(--color-text) !important;
}
.view.message .disclosure-header-names, .atv4.sc-label-view {
    color: gray !important;
}
.widget .flow-body, .widget .flow-header, .widget .idms-step-footer, .base-modal-arrow-popover-view .cw-popover-view .cw-popover-content, .atv4.mail .dock .left-wrapper, .atv4.mail .dock .toolbar-container, .atv4.mail .dock .compose-container, .atv4.mail .dock .app-switcher-container, .atv4.split-divider > .line, .apple-theme-v4 .top-left-view .refresh-button-container, .message .list-unsubscribe-banner .sc-button-view.unsubscribe-button.button-in-between.bar-after::after, .atv4.mail .dock .toolbar-separator-left, .cw-modal-dialog, .modal-create-account-view, .atv4.sc-segmented-view .segment.sc-segment-view.sel {
    background: var(--color-background-black) !important;
}
.summary .storage-chart .item:last-child, .summary .family-member .placeholder, .message-list .message-list-footer .filters-button, .mail.sc-main .sc-view .sc-view.left.source-list, .cw-popover-view:not(.cw-autocomplete-menu), .contacts .app-view .left-view .toolbar, .contacts .sources, .bottom-view, .contacts .app-view .center-view .toolbar, .atv4.contacts.sc1619.sc-view.toolbar, .contacts.sticky-header-scroll-view.contact-list .headered-list-header {
    background-color: var(--color-background-black) !important;
}
.message-list .message-list-footer, .messages .message-list .column-header, .messages .message-list .column-header .switch-header, .apple-theme-v4 .top-left-view .refresh-button-container, .message-list .message.sel, .preferences .pref-bottom-wrapper, .contacts.sticky-header-scroll-view.contact-list .headered-list-view .headered-list-item.sel, .contacts.sticky-header-scroll-view.contact-list .headered-list-view .contact-list-item {
    border: inherit !important;
}
.apple-theme-v4 .mail .sc-source-list.folder-list .sc-list-item-view.sel, .apple-theme-v4 .mail .sc-source-list.folder-list .sc-list-item-view.drop-zone, .contacts .sources .focus .sc-collection-item.sel .item-border, .contacts .sources .sc-collection-item.sel .item-border, .contacts.sticky-header-scroll-view.contact-list .headered-list-view .headered-list-item.sel {
    background: #2d3544 !important;
}
.apple-theme-v4 .mail .sc-source-list.folder-list .sc-list-item-view::after, .apple-theme-v4 .mail .sc-source-list.folder-list .sc-list-item-view::before, .messages .message-list .sc-collection-view .message::after, .atv4.sc-pane.sc-picker .sc-pointer, .preferences-panel .preferences .sc-container-view.sc-well-view .preferences-tab .horizontal-separator, .prefs-theme.segmented .segment.sc-first-segment::after, .prefs-theme.segmented .segment.sc-middle-segment::after, .base-modal-arrow-popover-view .cw-popover-view > .cw-popover-arrow.cw-down-arrow, .base-modal-arrow-popover-view .cw-popover-view > .cw-popover-arrow.cw-up-arrow {
    display: none !important;
}
.apple-theme-v4 .top-left-view .refresh-button-container, .contacts.sticky-header-scroll-view.contact-list .headered-list-view .contact-list-item {
    box-shadow: initial !important;
}
.message .list-unsubscribe-banner {
    background: #b1dbf9 !important;
}
.message .list-unsubscribe-banner .sc-label-view, .message .list-unsubscribe-banner .sc-button-label {
    color: black !important;
}
.apple-theme-v4 .top-left-view .refresh-button-container .sc-button-view .actions {
    background-position: -420px -260px !important;
}
.preferences .preferences-help div.img.help-button {
    background-position: -326px -1120px !important;
}
.popover-view .cw-popover-arrow.cw-up-arrow {
    background-image: url("blob:https://www.icloud.com/93eb723e-92d7-4f67-ab19-1d1107b2d26c") !important;
}
.account-settings-link-view .link-button:not(.showing-spinner) > .symbol-view > svg, .icloud-text.image svg path {
    fill: var(--color-icon) !important;
}
.message-list-search.search-view .search-left {
    background-image: url('https://i.imgur.com/fPdRUDb.png') !important;
    background-position: inherit !important;
    background-repeat: inherit !important;
    left: 10px !important;
    width: 20px !important;
    top: 11px !important;
    height: 20px !important;
}
.contacts .sources .sc-collection-item-sel .item-border {
    border-bottom: 1px solid #c5c5c5 !important;
}
.contacts .sources .sc-collection-item .item-border {
    margin-left: 0px !important;
}
.atv4.sc-text-field-view {
    border-radius: 10px;
}
.contact-details .contact-details-body .detail-row a:hover, .contact-details .contact-details-body .detail-row .address-view:hover a, .contact-details .contact-details-body .detail-row .address-view:hover .detail-field {
    color: #007aff !important;
}